@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --carousel-height: min(400px, 35vw);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.glider-next,
.glider-prev {
    top: 50% !important;
    transform: translateY(-50%);
}
.glider-next {
    right: 0 !important;
}

.glider-prev {
    left: 0 !important;
}

.glider-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* calendar */
.fc .fc-toolbar-title {
    font-size: 1.2em;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.5em;
}

a {
    @apply text-link;
}

@layer components {
    .btn-primary {
        @apply inline-block py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
}
